body {
  margin: 0;
  font-family: 'Segoe UI';
  background: linear-gradient(-45deg, #ff6a00, #ee0979, #00c9ff, #92fe9d);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {background-position:0% 50%;}
  50% {background-position:100% 50%;}
  100% {background-position:0% 50%;}
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: rgba(0,0,0,0.6);
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.header {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.card {
  background: rgb(98, 4, 213);
  padding: 20px;
  width: 300px;
  margin: 30px auto;
  border-radius: 15px;
  text-align: center;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {opacity:0; transform:translateY(20px);}
  to {opacity:1;}
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  background: #e74803;
  color: rgb(113, 241, 8);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}