body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  color: green;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

#orders {
  margin-top: 20px;
}

.card {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}